extends layout

  block content
    h1= title
    p This microservice will handle all user notification requests when an user changes the nickname
    ul
      li notify when an user changes the nickname
