extends layout

block content
  h1= title
  p This microservice will handle all user requests
  ul
    li add a new user
    li modify an existing user
    li remove a user
    li return the list of the users satisfying certain criteria (e.g. for country)
